@model Product
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = Model.Name;
}

<div class="product">
    <table>
        <tr>
            <td>
                <h2>@Model.Name</h2>
                <div class="img">
                    <img src="/upload/@Model.ImageUrl" />
                </div>
            </td>
            <td>
                <form action="/cart/create" method="post">
                    <input type="hidden" name="productid" value="@Model.Id" />
                    <input type="number" name="quantity" min="1" max="10" value="1" />
                    <button>Add Cart</button>
                </form>
                <p>Price: <b>@Html.FormatValue(Model.Price, "{0:$#,##}")</b></p>
                <p>Quantity: @Model.Quantity</p>
                <p>Description: @Model.Description</p>
            </td>
        </tr>
    </table>
</div>
<div>
    <h3>Product Relation</h3>
    <partial name="ViewCategory" model="Model.Relation" />
</div>


