<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/all.css" rel="stylesheet" />
</head>
<body>
    <div class="infor">
        <span style="font-size: 15px; color: pink;">
            <i class="fas fa-phone-volume"></i>
            <label>(+84)3 727 040 74</label>
        </span>
        <span style="font-size: 15px; color: pink;">
            <i class="fas fa-envelope"></i>
            <label>Admin@gmail.com</label>
        </span>
    </div>
    <div class="title">
        <div class="container">
            <div class="container_title">
                <a href="/"><h2>SportsShop</h2></a>
            </div>
            <div class="container_search">
                <form action="/home/search">
                    <div class="icon_search">
                        <input type="search" name="q" value="@Context.Request.Query["q"]" />
                    </div>
                    <div class="container_search_button">
                        <button>Search</button>
                    </div>
                </form>
                <div class="clear"></div>
            </div>
            <div class="container_icon">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/auth/signout">LogOut</a>
                    <a href="/auth/">Welcome: @User.Identity.Name</a>
                }
                else
                {
                    <a href="/auth/signup">
                        @*<span style="font-size: 40px; color: black;">
                    <i class="fas fa-user-plus"></i>
                </span>*@
                        SignUp
                    </a>
                    <a href="/auth/signin">
                        Login
                    </a>
                }
                <a href="/cart">
                    <span style="font-size: 25px; color: pink;">
                        <i class="fas fa-cart-plus"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="container_menu">
            <ul class="menu">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/home/show">ShopNow</a>
                </li>
                <li>
                    <label>Products</label>
                    <ul>
                        @foreach (Category item in ViewBag.categories)
                        {
                            <li>
                                <a href="/home/browse/@item.Id">@item.Name</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container_manage">
        @if (User.Identity.IsAuthenticated)
        {

            @if (User.IsInRole("Administrator"))
            {
                <label class="label_manage">Manage:</label>
                <ul class="menu_manage">
                    <li>
                        <a href="/category">Category</a>
                    </li>
                    <li>
                        <a href="/product">Product</a>
                    </li>
                    <li>
                        <a href="/role">Role</a>
                    </li>
                    <li>
                        <a href="/member">Member</a>
                    </li>
                </ul>
            }

        }
    </div>
    <div class="row">
        <div class="col-3">
            <div class="category">
                <ul>
                    @foreach (var item in ViewBag.categories)
                    {
                        <li>
                            <a href="/home/browse/@item.Id">@item.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
    <div class="copyright">
        <div class="container">Copyright &copy; 2019</div>
    </div>
</body>
</html>
